@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    padding: 10px 20px;
    font-family: Arial;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/* Center website */

.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    line-height: 40px;
    word-break: break-all;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2.subHeader.case {
    padding-left: 1px;
}

.header {
    margin-bottom: 5px;
}

.subHeader {
    font-weight: 300;
    color: #888888;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 5px;
}

.case {
    text-transform: uppercase;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */

.row, .row>.column {
    padding: 10px;
    margin-bottom: 16px;
}

/* Create four equal columns that floats next to each other */

.column {
    float: left;
    width: 25%;
}

/* Clear floats after rows */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */

.content {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    padding-bottom: 15px;
}

.content-main {
    background-color: white;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    padding: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.full-width-img {
    width: 100%;
    max-height: 10%;
}

button, label.label-btn{
    /* background: #4CAF50; Green */
    border: none;
    color: white;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .75em;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 5px !important;
}

/* Color Option One =============================================== */

button.submit {
    background-color: #86CB92;
    font-size: 14px;
}

button.submit:hover {
    background-color: rgb(102, 156, 111);
}

/* .large {
    background-color: #F27F68;
}

.large:hover , .large:hover {
    background-color: rgb(197, 102, 82); 
 } */

/* Color Option Two =============================================== */

/* button.medium {
    background-color: rgb(107, 160, 117);
}

button.medium:hover {
    background-color: rgb(42, 61, 45);
}

button.large {
    background-color: rgb(163, 87, 72);
}

button.large:hover {
    background-color: rgb(114, 61, 51);
} */

/* Color Option Three =============================================== */

.medium {
    background-color: #757780;
}

.medium:hover {
    background-color: #616268;
}

.large {
    background-color: rgb(78, 89, 99);
}

.large:hover {
    background-color: rgb(52, 59, 66);
}

/* button.back {
    background-color: #888888;
    font-size: 14px;
}

button.back:hover {
    background-color: #666666;
} */

button.back {
    background-color: rgb(238, 92, 63);
    font-size: 14px;
    padding: 5px 20px;
}

button.back:hover {
    background-color: rgb(175, 42, 15);
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flex-column {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.flex-column.left {
    justify-content: flex-start;
}
.flex-column.left.vertical {
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.flex-column.right {
    justify-content: flex-end;
}

.content-main.brand {
    width: 40%;
}

.content-main.data {
    margin-left: 20px;
    width: 60%;
}

.content-main.data.full {
    margin: 0px;
    width: 100%;
}

.no-shadow {
    box-shadow: none;
}

#button-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

input[type=text] {
    width: 80%;
    max-width: 500px;
    padding: 5px 20px;
    /* margin: 8px 0; */
    box-sizing: border-box;
    border-color: #cccccc;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    h1 {
        font-size: 24px;
        line-height: 24px;
    }
}




/* Styling for the file inputs */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.hidden {
    display: none;
}

#get-template {
    display: inline-block;
}
